@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700;900&subset=latin&display=swap');

body {
  color: #282828;
  background-color: #fefff9;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}
